<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <form action="/dashboard/articles" method="POST">
      <div div class="card-body"><%- include('_form_fields') %></div>
    </form>
  </div>
</div>
