<% if(typeof errors != 'undefined'){%> 
        <% errors.forEach(function(errors){ %> 
            <div class="alert alert-warning alert-dismissable fade show" role="alert">
                <%= errors.message %>  %> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </div>
        <%  }) %>
 <%}%>
