<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800&amp;display=swap"
      rel="stylesheet"
    />
    <link href="/resume/dist/css/yellow-black.css" rel="stylesheet" />
    <link href="/resume/dist/css/preview.css'" rel="stylesheet" />
    <title>Ali Khodaverdi | Resume</title>
  </head>

  <body
    class="with-header position-relative"
    data-spy="scroll"
    data-target="#sections-nav"
    data-offset="80"
  >
    <header class="header">
      <div
        class="container-fluid-limited d-flex align-items-center justify-content-between"
      >
        <a href="index.html" class="header-brand">
          <p class="font-weight-bold">.dev</p>
        </a>
        <button class="sections-nav-toggler" aria-label="Toggle navigation">
          <span class="sections-nav-toggler-bar"></span>
          <span class="sections-nav-toggler-bar"></span>
          <span class="sections-nav-toggler-bar"></span>
          <span class="sections-nav-toggler-bar"></span>
        </button>
      </div>
    </header>
    <nav class="sections-nav-container">
      <ul id="sections-nav" class="nav sections-nav sections-nav-animated">
        <li class="sections-nav-item">
          <a
            href="#section-01"
            class="nav-link sections-nav-link goto-section active"
          >
            <span class="sections-nav-counter">01</span> Top
          </a>
        </li>
        <li class="sections-nav-item">
          <a href="#section-02" class="nav-link sections-nav-link goto-section">
            <span class="sections-nav-counter">02</span> About me
          </a>
        </li>
        <li class="sections-nav-item">
          <a href="#section-03" class="nav-link sections-nav-link goto-section">
            <span class="sections-nav-counter">03</span> My services
          </a>
        </li>
        <li class="sections-nav-item">
          <a href="#section-04" class="nav-link sections-nav-link goto-section">
            <span class="sections-nav-counter">04</span> Skills
          </a>
        </li>
        <li class="sections-nav-item">
          <a href="#section-05" class="nav-link sections-nav-link goto-section">
            <span class="sections-nav-counter">05</span> Facts
          </a>
        </li>
        <li class="sections-nav-item">
          <a href="#section-06" class="nav-link sections-nav-link goto-section">
            <span class="sections-nav-counter">06</span> Experiences
          </a>
        </li>
        <li class="sections-nav-item">
          <a href="#section-07" class="nav-link sections-nav-link goto-section">
            <span class="sections-nav-counter">07</span> References
          </a>
        </li>
        <li class="sections-nav-item">
          <a href="#section-08" class="nav-link sections-nav-link goto-section">
            <span class="sections-nav-counter">08</span> Projects
          </a>
        </li>
        <li class="sections-nav-item">
          <a href="#section-10" class="nav-link sections-nav-link goto-section">
            <span class="sections-nav-counter">09</span> Contact
          </a>
        </li>
        <li class="sections-nav-item">
          <div class="sections-nav-info">
            <a href="mailto:alikhodaveerdi@yahoo.com"
              >alikhodaveerdi@yahoo.com</a
            ><br />
            <a href="tel:+989117872689">+98 911 787 2689</a>
          </div>
        </li>
      </ul>
    </nav>
    <main class="content">
      <div class="container-fluid-limited">
        <div class="row">
          <div class="col col-xl-9">
            <section
              id="section-01"
              class="section section-sub-header animation interaction-in"
            >
              <div class="section-body">
                <div class="jumbotron jumbotron-fluid pt-6 pt-lg-8 pb-0 mb-0">
                  <img
                    src="https://i.ibb.co/9YD0QGc/photo.jpg'"
                    class="jumbotron-img animation-translate animation-item-1"
                    alt="Avatar"
                  />
                  <h1
                    class="display-1 display-animated display-animated-in animation-translate animation-item-2"
                  >
                    Ali<br />Khodaverdi
                  </h1>
                  <p class="lead animation-translate animation-item-3">
                    FREELANCE WEBDEVELOPER
                  </p>
                </div>
              </div>
              <div class="section-footer animation-translate animation-item-4">
                <a class="section-next goto-section" href="#section-02">
                  <span class="section-next-counter">01/10</span>
                  <span class="section-next-label">Next chapter</span>
                  <span class="section-next-icon"></span>
                </a>
              </div>
            </section>
            <section id="section-02" class="section animation">
              <div class="section-body">
                <div class="row">
                  <div class="col col-xl-10">
                    <h2
                      class="section-title animation-translate-overline animation-item-1"
                    >
                      About me
                    </h2>
                    <article
                      class="article animation-translate animation-item-2"
                    >
                      <p>
                        I was born in 1996 and live in Babolsar; I started my
                        activity in the field of programming and IT in 2016 and
                        entered this field professionally in 2019. Now, after 2
                        years and after gaining experience and techniques in
                        programming and electronic marketing in this field, to
                        public organizations and Private and public students
                        work in person and in absentia.
                      </p>
                    </article>
                  </div>
                </div>
              </div>
              <div class="section-footer animation-translate animation-item-3">
                <a class="section-next goto-section" href="#section-03">
                  <span class="section-next-counter">02/10</span>
                  <span class="section-next-label">Next chapter</span>
                  <span class="section-next-icon"></span>
                </a>
              </div>
            </section>
            <section id="section-03" class="section animation">
              <div class="section-body">
                <h2
                  class="section-title animation-translate-overline animation-item-1"
                >
                  My services
                </h2>
                <div class="row animation-translate animation-item-2">
                  <div class="col-12 col-md-4">
                    <div class="card card">
                      <div class="card-body">
                        <strong class="card-counter">1</strong>
                        <h3 class="card-title">Web<br />development</h3>
                        <p class="card-text">
                          I can develop web application software and optimize
                          web application code
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="card card">
                      <div class="card-body">
                        <strong class="card-counter">2</strong>
                        <h3 class="card-title">Web<br />design</h3>
                        <p class="card-text">
                          Design web pages and work experience of your site with
                          the latest method in the world
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="card card">
                      <div class="card-body">
                        <strong class="card-counter">3</strong>
                        <h3 class="card-title">Web<br />consulting</h3>
                        <p class="card-text">
                          Advice on the type of site and your business plan to
                          progress faster on the Internet and advice on building
                          an online store
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-footer animation-translate animation-item-3">
                <a class="section-next goto-section" href="#section-04">
                  <span class="section-next-counter">03/10</span>
                  <span class="section-next-label">Next chapter</span>
                  <span class="section-next-icon"></span>
                </a>
              </div>
            </section>
            <section id="section-04" class="section animation">
              <div class="section-body">
                <h2
                  class="section-title animation-translate-overline animation-item-1"
                >
                  Skills
                </h2>
                <div class="row animation-translate animation-item-2">
                  <div class="col-12 col-md-6">
                    <strong class="progress-label">Node.js</strong>
                    <div class="progress progress-animated mb-9">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 60%"
                        aria-valuenow="75"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <strong class="progress-label">React</strong>
                    <div class="progress progress-animated mb-9">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 10%"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <strong class="progress-label">Javascript</strong>
                    <div class="progress progress-animated mb-9">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 85%"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <strong class="progress-label"
                      >Data-Base / MongoDB / mySql</strong
                    >
                    <div class="progress progress-animated mb-9">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 95%"
                        aria-valuenow="95"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <strong class="progress-label">Php</strong>
                    <div class="progress progress-animated mb-9">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 45%"
                        aria-valuenow="87"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                    <strong class="progress-label">Laravel</strong>
                    <div class="progress progress-animated mb-9">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: 45%"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-footer animation-translate animation-item-3">
                <a class="section-next goto-section" href="#section-05">
                  <span class="section-next-counter">04/10</span>
                  <span class="section-next-label">Next chapter</span>
                  <span class="section-next-icon"></span>
                </a>
              </div>
            </section>
            <section id="section-05" class="section animation">
              <div class="section-body">
                <h2
                  class="section-title animation-translate-overline animation-item-1"
                >
                  Facts
                </h2>
                <div class="row animation-translate animation-item-2">
                  <div class="col-12 col-md-6 col-lg-3">
                    <div class="counter mb-6 mb-lg-0">
                      <span class="counter-label">Coffees / per day</span>
                      <span data-counter-from="0" data-counter-to="6">6</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-3">
                    <div class="counter mb-6 mb-lg-0">
                      <span class="counter-label">Launched websites</span>
                      <span data-counter-from="0" data-counter-to="6">6</span>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-3">
                    <div class="counter mb-6 mb-lg-0">
                      <span class="counter-label">Lines of code</span>
                      <span data-counter-from="0" data-counter-to="12000"
                        >12&nbsp;000</span
                      >
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-3">
                    <div class="counter">
                      <span class="counter-label">Happy clients</span>
                      <span data-counter-from="0" data-counter-to="50">50</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section-footer animation-translate animation-item-3">
                <a class="section-next goto-section" href="#section-06">
                  <span class="section-next-counter">05/10</span>
                  <span class="section-next-label">Next chapter</span>
                  <span class="section-next-icon"></span>
                </a>
              </div>
            </section>
            <section id="section-06" class="section animation">
              <div class="section-body">
                <h2
                  class="section-title animation-translate-overline animation-item-1"
                >
                  Experiences
                </h2>
                <div class="timeline timeline-animated">
                  <div class="timeline-item">
                    <span class="timeline-date">2020&nbsp;–&nbsp;now</span>
                    <h3 class="timeline-title">Freelance</h3>
                    <p class="timeline-text">Full stack web developer</p>
                  </div>
                  <div class="timeline-item">
                    <span class="timeline-date">2015&nbsp;–&nbsp;2018</span>
                    <h3 class="timeline-title">Mobile Khodaverdi</h3>
                    <p class="timeline-text">junior front-end coder</p>
                  </div>
                  <div class="timeline-item">
                    <span class="timeline-date">2019&nbsp;–&nbsp;2020</span>
                    <h3 class="timeline-title">azad university of babol</h3>
                    <p class="timeline-text">Junior front-end coder</p>
                  </div>
                </div>
              </div>
              <div class="section-footer animation-translate animation-item-2">
                <a class="section-next goto-section" href="#section-07">
                  <span class="section-next-counter">06/10</span>
                  <span class="section-next-label">Next chapter</span>
                  <span class="section-next-icon"></span>
                </a>
              </div>
            </section>
            <section id="section-07" class="section animation">
              <div class="section-body">
                <h2
                  class="section-title animation-translate-overline animation-item-1"
                >
                  References
                </h2>
                <div class="row animation-translate animation-item-2">
                  <div class="col-6 col-lg-3">
                    <a href="https://www.amazon.com/" class="logo-link">
                      <img
                        src="/resume/assets/img/reference_1_b.svg"
                        data-light-src="/resume/assets/img/reference_1.svg"
                        data-dark-src="/resume/assetsimg/reference_1_b.svg"
                        class="logo-img"
                        alt="Reference 1"
                      />
                    </a>
                  </div>
                  <div class="col-6 col-lg-3">
                    <a href="http://www.mary.cz/de/" class="logo-link">
                      <img
                        src="/resume/assets/img/reference_2_b.svg"
                        data-light-src="/resume/assets/img/reference_2.svg"
                        data-dark-src="/resume/assets/img/reference_2_b.svg"
                        class="logo-img"
                        alt="Reference 2"
                      />
                    </a>
                  </div>
                  <div class="col-6 col-lg-3">
                    <a href="https://mail.yahoo.com/" class="logo-link">
                      <img
                        src="/resume/assets/img/reference_3_b.svg"
                        data-light-src="/resume/assets/img/reference_3.svg"
                        data-dark-src="/resume/assets/img/reference_3_b.svg"
                        class="logo-img"
                        alt="Reference 3"
                      />
                    </a>
                  </div>
                  <div class="col-6 col-lg-3">
                    <a href="https://www.youtube.com/" class="logo-link">
                      <img
                        src="/resume/assets/img/reference_4_b.svg"
                        data-light-src="/resume/assets/img/reference_4.svg"
                        data-dark-src="/resume/assets/img/reference_4_b.svg"
                        class="logo-img"
                        alt="Reference 4"
                      />
                    </a>
                  </div>
                  <div class="col-6 col-lg-3">
                    <a
                      href="https://www.microsoft.com/en-us/"
                      class="logo-link"
                    >
                      <img
                        src="/resume/assets/img/reference_5_b.svg"
                        data-light-src="/resume/assets/img/reference_5.svg"
                        data-dark-src="/resume/assets/img/reference_5_b.svg"
                        class="logo-img"
                        alt="Reference 5"
                      />
                    </a>
                  </div>
                  <div class="col-6 col-lg-3">
                    <a href="https://www.google.com/" class="logo-link">
                      <img
                        src="/resume/assets/img/reference_6_b.svg"
                        data-light-src="/resume/assets/img/reference_6.svg"
                        data-dark-src="/resume/assets/img/reference_6_b.svg"
                        class="logo-img"
                        alt="Reference 6"
                      />
                    </a>
                  </div>
                  <div class="col-6 col-lg-3">
                    <a href="https://www.facebook.com/" class="logo-link">
                      <img
                        src="/resume/assets/img/reference_7_b.svg"
                        data-light-src="/resume/assets/img/reference_7.svg"
                        data-dark-src="/resume/assets/img/reference_7_b.svg"
                        class="logo-img"
                        alt="Reference 7"
                      />
                    </a>
                  </div>
                  <div class="col-6 col-lg-3">
                    <a href="https://www.ebay.com/" class="logo-link">
                      <img
                        src="/resume/assets/img/reference_8_b.svg"
                        data-light-src="/resume/assets/img/reference_8.svg"
                        data-dark-src="/resume/assets/img/reference_8_b.svg"
                        class="logo-img"
                        alt="Reference 8"
                      />
                    </a>
                  </div>
                </div>
              </div>
              <div class="section-footer animation-translate animation-item-3">
                <a class="section-next goto-section" href="#section-08">
                  <span class="section-next-counter">07/10</span>
                  <span class="section-next-label">Next chapter</span>
                  <span class="section-next-icon"></span>
                </a>
              </div>
            </section>
            <section id="section-08" class="section animation">
              <div class="section-body">
                <h2
                  class="section-title animation-translate-overline animation-item-1"
                >
                  Projects
                </h2>
                <div class="row animation-translate animation-item-2">
                  <div class="col-12 col-md-4">
                    <a class="card" href="#modal-project-1" data-toggle="modal">
                      <img
                        class="card-img-top"
                        src="https://preview.envytheme.com/depan-html/assets/img/demos/home4.jpg"
                        alt="Nanovo"
                      />
                      <div class="card-body">
                        <h3 class="card-title">Mnews</h3>
                        <h4 class="card-subtitle">news website</h4>
                        <p class="card-tags">Frontend — Backend</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-12 col-md-4">
                    <a class="card" href="#modal-project-2" data-toggle="modal">
                      <img
                        class="card-img-top"
                        src="https://z9d7c4u6.rocketcdn.me/wp-content/uploads/2021/12/demo-black_friday.jpg.webp"
                        alt="Bbop"
                      />
                      <div class="card-body">
                        <h3 class="card-title">khaneiranishop.ir</h3>
                        <h4 class="card-subtitle">Design e-commerce</h4>
                        <p class="card-tags">Design — Frontend — Backend</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="section-footer animation-translate animation-item-3">
                <a class="section-next goto-section" href="#section-09">
                  <span class="section-next-counter">08/10</span>
                  <span class="section-next-label">Next chapter</span>
                  <span class="section-next-icon"></span>
                </a>
              </div>
            </section>

            <section id="section-10" class="section animation">
              <div class="section-body">
                <h2
                  class="section-title animation-translate-overline animation-item-1"
                >
                  Contact
                </h2>
                <div class="row mb-10 animation-translate animation-item-2">
                  <div class="col-12 col-md-4">
                    <div class="contact">
                      <strong class="contact-label">Stay in touch</strong>
                      <a href="mailto:alikhodaveerdi@yahoo.com"
                        >alikhodaveerdi@yahoo.com</a
                      ><br />
                      <a href="tel:+989117872689">+98 911 787 2689</a>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="contact">
                      <strong class="contact-label">Social</strong>
                      <a
                        href="https://www.facebook.com/profile.php?id=100071070758804"
                        >Facebook</a
                      ><br />
                      <a
                        href="https://www.linkedin.com/in/ali-khodaverdi-65bb041a2"
                        >LinekdIn</a
                      ><br />
                      <a href="https://twitter.com/dalxxxxxx">Twitter</a><br />
                      <a href="https://www.instagram.com/alii.khodaverdii/"
                        >Instagram</a
                      >
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="contact">
                      <strong class="contact-label">Address</strong>
                      TEHRAN<br />
                      BABOLSAR<br />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-xl-9">
                    <h3
                      class="section-subtitle animation-translate animation-item-3"
                    >
                      Leave a message
                    </h3>
                    <form
                      action="/resume"
                      class="needs-validation animation-translate animation-item-4"
                      method="post"
                      novalidate
                      id="formMessage"
                    >
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <label for="contact-form-name">Name</label>
                            <input
                              type="text"
                              class="form-control"
                              name="name"
                              id="contact-form-name"
                              placeholder="Your name"
                              required
                            />
                            <div class="invalid-feedback">
                              Please enter your name.
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="form-group">
                            <label for="contact-form-name">E-mail</label>
                            <input
                              type="email"
                              class="form-control"
                              name="email"
                              id="contact-form-email"
                              placeholder="@"
                              required
                            />
                            <div class="invalid-feedback">
                              Please enter a valid e-mail address.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-form-message">Message</label>
                        <textarea
                          class="form-control"
                          name="message"
                          id="contact-form-message"
                          placeholder="Your message"
                          rows="5"
                          required
                        ></textarea>
                        <div class="invalid-feedback">
                          Please type some message.
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary">
                        Send
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="section-footer animation-translate animation-item-5">
                <span class="section-next goto-section">
                  <span class="section-next-counter">9/9</span>
                </span>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <!-- Modals -->

    <div class="preview-themes">
      <a
        href="#theme-yellow-black"
        class="preview-theme preview-color-yellow-black"
        title="Select theme"
        data-toggle="tooltip"
        data-theme="/resume/dist/css/yellow-black.css"
        data-theme-bg="light"
      ></a>
      <a
        href="#theme-black-white"
        class="preview-theme preview-color-black-white"
        title="Select theme"
        data-toggle="tooltip"
        data-theme="/resume/dist/css/black-white.css"
        data-theme-bg="dark"
      ></a>
      <a
        href="#theme-pink-black"
        class="preview-theme preview-color-pink-black"
        title="Select theme"
        data-toggle="tooltip"
        data-theme="/resume/dist/css/pink-black.css"
        data-theme-bg="light"
      ></a>
      <a
        href="#theme-blue-black"
        class="preview-theme preview-color-blue-black"
        title="Select theme"
        data-toggle="tooltip"
        data-theme="/resume/dist/css/blue-black.css"
        data-theme-bg="light"
      ></a>
    </div>
  </body>
  <script src="/resume/dist/js/all.js"></script>
  <script>
    $(document).ready(function () {
      $("formMessage").on("submit", function (event) {
        event.preventDefault();
        var formData = {
          name: $("#name").val(),
          email: $("#email").val(),
          message: $("#message").val(),
        };

        $.ajax({
          url: "/resume",
          method: "POST",
          contentType: "application/json",
          data: JSON.stringify({ quote: value }),
          success: function (res) {
            console.log(res.response);
          },
        });
      });
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip();

      $(".preview-theme").click(function () {
        $("link")[1].href = $(this).data("theme");
        var imgSrcData =
          $(this).data("theme-bg") === "light" ? "dark-src" : "light-src";
        $("img[data-" + imgSrcData + "]").each(function () {
          $(this).attr("src", $(this).data(imgSrcData));
        });

        return false;
      });
    });

    // Bootstrap form validation example
    (function () {
      "use strict";
      window.addEventListener(
        "load",
        function () {
          var forms = document.getElementsByClassName("needs-validation");
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener(
              "submit",
              function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add("was-validated");
              },
              false
            );
          });
        },
        false
      );
    })();
  </script>

  <!-- Mirrored from www.danielduran.cz/portfolio/preview.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Dec 2021 13:09:24 GMT -->
</html>
