<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <!-- Mirrored from templates.envytheme.com/depan/rtl/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 Jan 2022 04:35:22 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="blog/assets/css/bootstrap.rtl.min.css" />

    <link rel="stylesheet" href="blog/assets/css/animate.min.css" />

    <link rel="stylesheet" href="blog/assets/css/meanmenu.css" />

    <link rel="stylesheet" href="blog/assets/css/boxicons.min.css" />

    <link rel="stylesheet" href="blog/assets/css/owl.carousel.min.css" />

    <link rel="stylesheet" href="blog/assets/css/owl.theme.default.min.css" />

    <link rel="stylesheet" href="blog/assets/css/magnific-popup.min.css" />

    <link rel="stylesheet" href="blog/assets/css/nice-select.min.css" />

    <link rel="stylesheet" href="blog/assets/css/style.css" />

    <link rel="stylesheet" href="blog/assets/css/responsive.css" />

    <link rel="stylesheet" href="blog/assets/css/rtl.css" />
    <title>Depan - News Magazine HTML Template</title>
    <link rel="icon" type="image/png" href="blog/assets/img/favicon.png" />
  </head>