<div class="navbar-area">
  <div class="main-responsive-nav">
    <div class="container">
      <div class="main-responsive-menu">
        <div class="logo">
          <a href="index.html">
            <h1><span style="color: rgb(228, 85, 2)">M</span>News</h1>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-navbar">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/">
          <!-- <img src="/blog/assets/img/logo-1.png" alt="image" /> -->
          <h1><span style="color: #1e90ff">با</span>بلسر</h1>
        </a>
        <div
          class="collapse navbar-collapse mean-menu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link active">
                خانه
                <i class="bx bx-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a href="index.html" class="nav-link active"> صفحه اصلی </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="politics.html" class="nav-link"> تمام پست ها </a>
            </li>
            <li class="nav-item">
              <a href="business.html" class="nav-link"> درباره ما </a>
            </li>

            <li class="nav-item">
              <a href="sport.html" class="nav-link"> تماس با ما </a>
            </li>
          </ul>
          <div class="others-options d-flex align-items-center">
            <div class="option-item">
              <form class="search-box">
                <input type="text" class="form-control" placeholder="جستجو" />
                <button type="submit"><i class="bx bx-search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="others-option-for-responsive">
    <div class="container">
      <div class="dot-menu">
        <div class="inner">
          <div class="circle circle-one"></div>
          <div class="circle circle-two"></div>
          <div class="circle circle-three"></div>
        </div>
      </div>
      <div class="container">
        <div class="option-inner">
          <div class="others-options d-flex align-items-center">
            <div class="option-item">
              <form class="search-box">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search for.."
                />
                <button type="submit"><i class="bx bx-search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
