<div class="search-field d-none d-xl-block">
  <form
    class="d-flex align-items-center h-100"
    action="/dashboard/search"
    method="post"
  >
    <div class="input-group">
      <div class="input-group-prepend bg-transparent">
        <i class="input-group-text border-0 mdi mdi-magnify"></i>
      </div>
      <input
        type="text"
        class="form-control bg-transparent border-0"
        placeholder="جستجو"
        name="search"
      />
    </div>
  </form>
</div>
