<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">منو</li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
        <span class="menu-title">داشبورد</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#post"
        aria-expanded="false"
        aria-controls="post"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-file-document-box menu-icon"></i
        ></span>
        <span class="menu-title">نوشته ها</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="post">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">Create Post</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post-news">ساخت پست</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-article">ساخت مقاله</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#auth"
        aria-expanded="false"
        aria-controls="auth"
      >
        <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
        <span class="menu-title">دسته بندی </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/categories/">
              ساخت دسته بندی</a
            >
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-org-dolat"
        aria-expanded="false"
        aria-controls="ui-org-dolat"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-file-document-box menu-icon"></i
        ></span>
        <span class="menu-title">ارگان های دولتی</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-org-dolat">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">ساخت صفحه</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-mrsm"
        aria-expanded="false"
        aria-controls="ui-mrsm"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-file-document-box menu-icon"></i
        ></span>
        <span class="menu-title">مراسمات</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-mrsm">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">تمام صفحات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">ساخت صفحه</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-mahal"
        aria-expanded="false"
        aria-controls="ui-mahal"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-file-document-box menu-icon"></i
        ></span>
        <span class="menu-title">محلات </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-mahal">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">تمام صفحات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">ساخت صفحه</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-bazar"
        aria-expanded="false"
        aria-controls="ui-bazar"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-file-document-box menu-icon"></i
        ></span>
        <span class="menu-title">بازار </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-bazar">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">تمام صفحات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">ساخت صفحه</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-akn-dolat"
        aria-expanded="false"
        aria-controls="ui-akn-dolat"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-file-document-box menu-icon"></i
        ></span>
        <span class="menu-title">اماکن تاریخی </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-akn-dolat">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">تمام صفحات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">ساخت صفحه</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-amkn-tafrihi"
        aria-expanded="false"
        aria-controls="ui-amkn-tafrihi"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-file-document-box menu-icon"></i
        ></span>
        <span class="menu-title">اماکن تفریحی </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-amkn-tafrihi">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">تمام صفحات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">ساخت صفحه</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-akhbar"
        aria-expanded="false"
        aria-controls="ui-akhbar"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-file-document-box menu-icon"></i
        ></span>
        <span class="menu-title">اخبار</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-akhbar">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">تمام صفحات</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">ساخت صفحه</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-option"
        aria-expanded="false"
        aria-controls="ui-option"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-file-document-box menu-icon"></i
        ></span>
        <span class="menu-title">تنظیمات</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-option">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">سربرگ سایت</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post"> ساخت وضعیت</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post-news"
              >منو ها و ساخت منو</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post-news">تگ ها</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item documentation-link">
      <a class="nav-link" href="/" target="_blank">
        <span class="icon-bg">
          <i class="mdi mdi-file-document-box menu-icon"></i>
        </span>
        <span class="menu-title">سایت</span>
      </a>
    </li>
  </ul>
</nav>
