<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">منو</li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
        <span class="menu-title">داشبورد</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#post"
        aria-expanded="false"
        aria-controls="post"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-file-document-box menu-icon"></i
        ></span>
        <span class="menu-title">نوشته ها</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="post">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">Create Post</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post-news">ساخت پست</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-article">ساخت مقاله</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/articles/all">همه مقالات</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#auth"
        aria-expanded="false"
        aria-controls="auth"
      >
        <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
        <span class="menu-title"> دسته بندی ها </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/categories/">
              ساخت دسته بندی</a
            >
          </li>

          <% categories.forEach(category => { %>

          <li class="nav-item d-flex justify-content-between mt-7">
            <a
              class="nav-link"
              href="/dashboard/categories/<%= category.slug %>"
              ><%= category.title %></a
            >
            <a
              href="/dashboard/categories/edit/<%= category.id %>"
              class="mdi mdi-grease-pencil"
            ></a>
          </li>
          <% }); %>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-option"
        aria-expanded="false"
        aria-controls="ui-option"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-file-document-box menu-icon"></i
        ></span>
        <span class="menu-title">تنظیمات</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-option">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post">سربرگ سایت</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post"> ساخت وضعیت</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post-news"
              >منو ها و ساخت منو</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/add-post-news">تگ ها</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item documentation-link">
      <a class="nav-link" href="/" target="_blank">
        <span class="icon-bg">
          <i class="mdi mdi-file-document-box menu-icon"></i>
        </span>
        <span class="menu-title">سایت</span>
      </a>
    </li>
  </ul>
</nav>
